* {
    box-sizing: border-box;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    height: calc(100vh - 2rem); /* Adjust padding value as needed */
    width: calc(100vw - 2rem); /* Adjust padding value as needed */
    margin: 0;
    border: 0;
    padding: 0;
}

.new-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: flex-start;
}

.centering {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 320px;
    max-height: 320px;
}

.grid-square {
    margin: 0;
    padding: 0;
    border: solid black 2px;
    width: 20px;
    height: 20px;
}